.wrapper{
    height: 500px;
    width: 700px;
    background-color: #ffff;
    margin:auto;
    text-align: center;
    border-radius: 1cm;
    border: 1px solid #ffff;
    box-shadow: 0.1px 0.1px 5px #dfdede;
}
    h1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 150px;
    
}

    h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 5em;
        padding: 5p;
}
    h1, h3{
        margin: 0px;
}